<%- include('partials/header') %>

<div class="container">

  <header class="jumbotron">
    <div class="container">
      <h1>Welcome to YelpCamp</h1>
      <p>Most amazing campgrounds all over the world¡</p>
      <p>
        <a class='btn btn-primary btn-lg' href='/campgrounds/new'>Add a new Campground¡</a>
      </p>
    </div>
  </header>
  
  
  <h1>Campgrounds All over the world¡</h1>

  <div class="row text-center">
    <% campgrounds.forEach(function(campground){ %>
      <div class="col-sm-6 col-md-4">
        <div class="card">
          <img class='card-img-top' src="<%= campground.url %>" alt="">
          <div class="card-body">
            <h3 class="card-title"> <%= campground.name %> </h3>
            <div class="btn-group d-flex" role="group">
              <a class='btn btn-primary w-100' href="/campgrounds/<%= campground._id%>">View More¡</a>
              <a class='btn btn-danger  w-100' href="/campgrounds/<%= campground._id%>/edit">Edit</a>
            </div>
            </p>
          </div>
        </div>
      </div>
    <% }); %>
  </div>



<%- include('partials/footer') %>
