<%- include('partials/header') %>

<div class="container">
  
  <div class="row">
    <div class="col-md-3">
      <p class="lead">YelpCamp</p>
      <ul class="list-group">
        <li class="list-group-item active">Info One</li>
        <li class="list-group-item">Info Two</li>
        <li class="list-group-item">Info Three</li>
      </ul>
    </div>
    <div class="col-md-9">
      
      <div class="card text-justify mb-4">
        <div class="card-header">
          <h3 class="float-right">$9.00/nigth</h3>
          <h3 class="card-title"> <a href=""><%= campground.name %></a> </h3>
          <p class="card-text"> <%= campground.description %></p>
        </div>
        <!-- <div class="card-body"> -->
          <img class='card-img-bottom img-fluid' src="<%= campground.url %>" alt="">
          <p><em>Submitted by: 
            <strong><%= campground.author.username %></strong>
          </em></p>
        <!-- </div> -->
      
      <div class="card-footer text-align-center">
        <div class="my-btn ">
          <!-- <div class="btn-group d-flex" role="group"> -->
            <% if(currentUser && campground.author.id.equals(currentUser._id)){ %>
              <a href='/campgrounds/<%= campground._id%>/edit' class='btn btn-warning'>Edit</a>
              <form class="delete-form" action="/campgrounds/<%= campground._id%>?_method=delete" method='POST'>
                <button class="btn btn-danger">Delete</button>
              </form>
              <a href='/campgrounds/<%= campground._id %>/comments/new' class="btn btn-info">Make a Comment</a>
            <%}else{ %>
              <a href='/campgrounds/<%= campground._id %>/comments/new' class="btn btn-info">Make a Comment</a>
            <% } %>

          <!-- </div> -->
        </div>
      </div>
    </div>

    
      <section>
        <h1>All Comments</h1>
        <div class="card text-justify bg-light">
          <% campground.comments.forEach(function(comment){ %>
            <div class="card-header">
              <p><strong><%= comment.author.username %></strong> - <%= comment.text %></p>
              <% if(currentUser && comment.author.id.equals(currentUser._id)){ %>
                <a href='/campgrounds/<%= campground._id%>/comments/<%= comment._id %>/edit' class='btn btn-warning'>Edit</a>
                <form class="delete-form" action="/campgrounds/<%= campground._id %>/comments/<%= comment._id %>?_method=DELETE" method="POST">
                  <button class="btn btn-danger">Delete</button>
                </form>
              <% } %>
            </div>
          <% }); %>
        </div>
      </section>
      
      <p>
        <a href='/campgrounds'>Go Back</a>
      </p>
    </div>
  </div>

</div>

<%- include('partials/footer') %>